input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.number{
    border-radius: 5px;
}

#finish{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 25px;
    background-color: antiquewhite;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}