body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mahdi_1 {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: purple;
    border: 5px;
    border-style: dashed;
    border-color: plum;
    border-radius: 50px;
    padding: 10px;
}

.mahdi_2 {
    width: 200px;
    height: auto;
    padding-bottom: 5px;
    background-color: aqua;
    color: white;
    border-left: 5px solid;
    border-color: blue;
    text-align: center;
}

.mahdi_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed rgb(255, 255, 255);
    border-bottom: 5px dashed rgb(60, 100, 0);
    background-color: greenyellow;
    border-radius: 50px;
    width: 500px;
    height: 70px;
}

.mahdi_4{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px double red;
    background-color: yellow;
    width: 400px;
    height: 70px;
    border-radius: 25px 0;
}

.mahdi_5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 400px;
    height: 70px;
    border: 10px rgb(151, 0, 0);
    border-style: dotted solid dashed;
}

.mahdi_6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 600px;
    height: 60px;
    outline: 10px outset rgb(211, 226, 0);
    border: 10px inset rgb(211, 226, 0);
}