* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

html, body {
    position: relative;
    background-color: #f7f7f7;
    height: 1100px;
}

.header {
    position: absolute;
    display: inline-block;
    width: 700px;
    height: 70px;
    top: 35px;
    left: 150px;
    background-color: #E5EFF8;
    border-radius: 5px;
}

.header div {
    display: inline-block;
    margin-left: 45px;
    margin-top: 15px;
    color: #1282b9;
}

.header div:hover {
    color: white;
    background-color: #056AC9;
}

.header div:nth-child(1){
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

.box{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 150px;
    left: 75px;
}

.box div div{
    margin-left: 10px;
}

.box_2{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 150px;
    left: 525px;
}

.box_2 div div{
    margin-left: 10px;
}

.box_3{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 610px;
    left: 75px;
}

.box_3 div div{
    margin-left: 10px;
}

.box_4{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 610px;
    left: 525px;
}

.box_4 div div{
    margin-left: 10px;
}

.fa-heart-o {
    padding-left: 300px;
}

.cat {
    width: 57px;
    height: 20px;
    border-radius: 3px;
    color: #766587;
    text-align: center;
    padding-top: 2px;
    background-color: #EBDEF8;
}

.cat_1 {
    width: 62px;
    height: 20px;
    border-radius: 3px;
    color: #68AB9A;
    text-align: center;
    padding-top: 2px;
    background-color: #D1F7EF;
}

.time p:nth-child(1){
    margin-left: -5px;
}

.time p:nth-child(2){
    padding-left: 190px;
}

img{
    width: 400px;
    height: 250px;
}

p{
    display: inline-block;
    margin: 5px;
}

hr{
    margin: 0;
    margin-top: 30px;
    width: 375px;
}