body{
    background-color: #0A0A0A;
}

header{
    width: 1380px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(217, 217, 217, 0.15);
    margin-top: 35px;
    border-radius: 15px;
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    gap: 40px;
    color: white;
    padding-left: 20px;
    cursor: pointer;
}

header nav li{
    display: flex;
    text-decoration: none;
}

header div:nth-child(2){
    gap: 20px;
    padding-right: 30px;
}

header div div{
    color: white;
}

.logo{
    width: 227px;
    height: 86px;
    padding-left: 30px;
}
.background-1{
    position: absolute;
    top: 49px;
    right: 108px;
    z-index: -2;
}
.section_1{
    width: 1323px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    color: white;
    z-index: 1;
}

.first {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}

.search_box{
    width: 466px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.15);
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 20px;
    text-align: left;
    border-radius: 50px;
}

.button_search{
    width: 132px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#840000 , #6F0080);
    text-align: center;
    border-radius: 50px;
    border: 0px;
    color: white;
}

.background-2{
    position: absolute;
    top: 484px;
    left: 0;
    z-index: -10!important;
}

.background-3{
    position: absolute;
    top: 1286px;
    right: 391px;
    z-index: -10!important;
}

.background-4{
    position: absolute;
    top: 1683px;
    left: 283px;
    z-index: -10!important;
}

.section_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 145px;
}

.box{
    width: 250px;
    height: 250px;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 50px;
    z-index: 10;
    backdrop-filter: blur(2px);
    color: white;
    text-align: center;
    padding-top: 53px;
    box-sizing: border-box;
    font-size: 24px;
}

.section_3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 154px;
}

.section_3 .title{
    width: 1343px;
    height: 450px;
    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0.2);
    border: 1px solid white;
    z-index: 10;
    backdrop-filter: blur(2px);
}

.title_section_3{
    display: flex;
    justify-content: space-between;
    padding: 39px 53px 55px 53px;
}

.title_section_3:nth-child(1){
    color: white;
    font-size: 35px;
}

.box_section_3{

}